#**Breast Cancer Classification using Logistic Regression**

## Library Import

In [1]:
import pandas as pd
import numpy as np

At first we have imported the required libraries like pandas, numpy etc.

## Dataset Import

In [2]:
data = pd.read_csv('breast-cancer-wisconsin.csv')

Dataset has been imported using pandas read_csv method. Now we will check the information of the dataset.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

Here we can see 'Bare Nuclei' is of object type which is undesirable. So let's check for which values it become object type instead on integer type.

In [4]:
data.head(25)

    Sample code number  Clump Thickness  ...  Mitoses  Class
0              1000025                5  ...        1      2
1              1002945                5  ...        1      2
2              1015425                3  ...        1      2
3              1016277                6  ...        1      2
4              1017023                4  ...        1      2
5              1017122                8  ...        1      4
6              1018099                1  ...        1      2
7              1018561                2  ...        1      2
8              1033078                2  ...        5      2
9              1033078                4  ...        1      2
10             1035283                1  ...        1      2
11             1036172                2  ...        1      2
12             1041801                5  ...        1      4
13             1043999                1  ...        1      2
14             1044572                8  ...        4      4
15             1047630                7  ...        1      4
16             1048672                4  ...        1      2
17             1049815                4  ...        1      2
18             1050670               10  ...        2      4
19             1050718                6  ...        1      2
20             1054590                7  ...        4      4
21             1054593               10  ...        1      4
22             1056784                3  ...        1      2
23             1057013                8  ...        1      4
24             1059552                1  ...        1      2

[25 rows x 11 columns]

Now we can see for the index 23 there is a value '?'. It means there should be other values like this for which it become object type. Our next task will be to replace '?' with NaN as the value is undefined.

In [5]:
data["Bare Nuclei"].replace('?',np.nan, inplace=True)

Again we will check the dataset information now.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  683 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

Still we can see the datatype for 'Bare Nuclei' is object. So we need to convert it to numeric values.

In [7]:
data["Bare Nuclei"] = pd.to_numeric(data["Bare Nuclei"])

Now checking the datatype again.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  683 non-null    float64
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

We can see it has been succesfully converted to proper numeric format. Our next task is to replace all the NaN values with some other values like mean of the column or anything else like that. But we will do that after we split the dataset into train set and test set. Because if we take the mean before splitting the dataset then there will be information leakage from the test set to the train set which is totally undesirable.

In [9]:
X = data.iloc[:, 1:-1].values
y = data.iloc[:, -1].values

We have converted our dataset into independent variable (X) and our dependent variable (y). You can see that we have removed the first column 'Sample code number' as it is just a random number and it will not be useful to create any impact on classification. Now X and y can be used to create the train set and test set.

## Dataset Splitting into Train and Test Set

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

To create the train and test set we have used the Scikit Learn library and train_test_split class is actually doing the task for us. Here testing set size is 20%, so the training set size will be 80%.

In [16]:
X_train[:,5]

array([ 1.,  1., 10.,  1., 10., 10.,  1., 10.,  1.,  1.,  1.,  9.,  1.,
        1.,  1., nan, 10.,  2.,  1.,  1.,  1.,  1., 10.,  1.,  1., 10.,
        2.,  1.,  8., 10.,  1.,  1.,  1.,  1.,  1.,  1., 10., 10.,  3.,
        8.,  2.,  1.,  1.,  1.,  3.,  1., 10.,  1.,  1.,  1.,  5.,  2.,
        1.,  5.,  1., 10.,  1.,  1.,  1.,  1., nan,  2.,  1.,  3.,  8.,
        5.,  5.,  1.,  1., 10., 10.,  1.,  1.,  1.,  1.,  1.,  2.,  1.,
        3.,  5.,  1.,  1.,  1.,  1.,  1.,  1., 10., 10.,  1.,  1.,  5.,
       10.,  1.,  3.,  1., 10.,  1.,  1.,  1.,  1.,  1.,  1., nan, 10.,
        1.,  1., 10., 10.,  8.,  9.,  5.,  1., 10., 10.,  1., 10.,  1.,
        1.,  1., 10.,  1.,  2.,  8.,  3., 10.,  7.,  1.,  1., 10., 10.,
       10.,  8.,  3.,  1.,  4., 10.,  1., 10.,  1.,  1.,  1., nan,  1.,
        1., 10.,  1., 10.,  1.,  1., 10.,  1.,  1., nan, 10., 10.,  1.,
       nan,  5.,  5.,  3.,  1.,  1.,  3., 10.,  1.,  1.,  1.,  8.,  1.,
        8.,  3.,  1.,  5.,  1.,  2.,  1.,  1., 10.,  1.,  1.,  1., 10.,
        1.,  1., 10.,  9.,  1.,  1.,  7.,  1., 10.,  1., 10.,  1.,  1.,
        1.,  1.,  5., 10.,  1.,  5., 10.,  1.,  1., 10.,  4.,  1., 10.,
        1.,  1., 10.,  2.,  1.,  1.,  1.,  1.,  1.,  1.,  8.,  1.,  1.,
       10.,  3.,  1., 10.,  1.,  3.,  1., 10.,  1.,  1.,  1.,  1., 10.,
        1., 10.,  2., 10.,  1.,  1.,  4.,  1.,  1., 10.,  2., 10.,  5.,
        1.,  5.,  1.,  2.,  1., 10.,  1.,  1.,  1.,  1.,  3.,  1.,  1.,
       10.,  1., 10.,  1.,  6., 10.,  5., 10.,  9.,  1., 10., 10.,  9.,
        1.,  1., 10.,  1.,  1., 10.,  1.,  1.,  9.,  1.,  1.,  1., 10.,
       10.,  2.,  1.,  4., 10.,  1.,  3., 10.,  1.,  1.,  1., 10.,  4.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1., 10.,  1., nan, 10.,  1.,
        4.,  1.,  1.,  2.,  1.,  1.,  1.,  1., 10.,  1.,  1.,  1., 10.,
        2.,  1.,  1.,  7.,  1.,  1.,  1.,  1.,  1.,  1.,  7., 10.,  3.,
        3.,  1.,  8.,  3.,  1., 10.,  1.,  1.,  1., 10.,  4.,  1.,  1.,
       nan,  1., 10.,  1.,  1.,  1., 10.,  5.,  1., 10.,  1., 10.,  1.,
        4.,  1.,  1.,  1.,  1.,  1.,  1.,  1., 10.,  1.,  1.,  1.,  1.,
       10.,  2.,  3.,  1.,  4.,  1.,  1.,  1.,  1.,  1.,  1.,  1., 10.,
        5.,  4.,  1., 10.,  1.,  1.,  1.,  1.,  1.,  1.,  8., 10., 10.,
        3.,  4.,  1., 10.,  1.,  1.,  1.,  8.,  5.,  1.,  1.,  1.,  1.,
        1., 10.,  1.,  1.,  1.,  1.,  1.,  1.,  8.,  1.,  1., 10.,  1.,
        1.,  1., 10.,  5.,  1.,  1., 10.,  1.,  4.,  1.,  8.,  1.,  7.,
        1.,  2.,  1.,  1., 10.,  3.,  2.,  1.,  2.,  9.,  1.,  1.,  1.,
        1.,  8., 10., 10.,  1.,  2.,  1.,  9., 10.,  1.,  1., 10.,  5.,
        7., 10.,  6.,  1.,  5., 10.,  2., nan, 10.,  1.,  1.,  1.,  2.,
       10., 10.,  2.,  1.,  1.,  1., 10.,  1., 10.,  4.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  8., 10.,  7.,  3.,  1.,
        1.,  2.,  3., 10.,  1.,  2.,  1.,  1.,  4.,  1.,  1.,  1.,  1.,
        1.,  8.,  1.,  1.,  1., 10.,  1., nan, 10.,  1.,  1., 10.,  1.,
        6.,  1.,  1.,  1.,  1.,  3.,  1.,  1.,  1.,  1.,  1.,  1.,  4.,
        3.,  5.,  1.,  2.,  2.,  1.,  1.,  1.,  1.,  2.,  1., nan,  1.])

In [12]:
data["Bare Nuclei"].replace(np.nan,data["Bare Nuclei"].mean(), inplace=True)